{% extends 'sportsmen/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

{% if page_obj %}
    <ul class="list-articles">
        {% for p in page_obj %}
        <li>
            {% if p.photo %}
                <img src="{{ p.photo.url }}" class="img-article-left" width="200">
            {% endif %}
            <h2>{{ p.title }}</h2>
            <p>{{ p.content|linebreaks|truncatewords:30 }}</p>
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read post</a></p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No articles in this category yet.</p>
{% endif %}
{% endblock %}
