# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 虚拟环境
venv/
env/
ENV/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
**/.DS_Store
